<div class="row" style="margin-top:5%; margin-bottom: 10%;">
  <div class="col-lg-3 col-md-3 col-sm-12">
    
      <div class="flip-card" style="width: 80%; margin-left:15%; margin-top:15%;">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="assets/html.png" alt="HTML" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
              <h1>HTML/CSS</h1> 
              <p>Prise en main avec le langage HTML et CSS pour la création de vos premères pages web</p> 
            
            </div>
          </div>
        </div>
 
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="flip-card" style="width:80%; margin-left:15%; margin-top:15%;">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="assets/angular.jpg" alt="angular" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h1>Bootstap/ Angular</h1> 
                <p>Prise en main avec les frameworks Bootstarp et Angular pour la création de vos premères pages web</p> 
            </div>
          </div>
        </div>

  </div>
  <div class="col-lg-3 col-md-3 col-sm-12" >
      <div class="flip-card" style="width: 80%; margin-left:15%; margin-top:15%;">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="assets/mangodb.png" alt="Mongodb" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
              <h1>MongoDB</h1> 
              <p>Mise en main avec MongoDB et la modélisation en format Json de vos données</p> 
              
            </div>
          </div>
        </div>

  </div>
  <div class="col-lg-3 col-md-3 col-sm-12" >
      <div class="flip-card" style="width: 80%; margin-left:15%; margin-top:15%;">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="assets/java.jpg" alt="java" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h1>JAVA JEE</h1> 
                <p>Prise en main avec le langage JAVA JEE pour vos dévéloppement en back-end</p> 
            </div>
          </div>
        </div>

  </div>
</div>

